<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.test.automation.hrms.test_scripts.Test_before_test"/>
      <class name="com.test.automation.hrms.test_scripts.Test_admin_functionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
